PodstavnoyeKaraoke/.idea/

PodstavnoyeKaraoke/Library/

PodstavnoyeKaraoke/Logs/

PodstavnoyeKaraoke/obj/

PodstavnoyeKaraoke/Temp/

*.csproj

*.sln

PodstavnoyeKaraokeActivator/.idea/

PodstavnoyeKaraokeActivator/Library/

PodstavnoyeKaraokeActivator/Logs/

PodstavnoyeKaraokeActivator/obj/

PodstavnoyeKaraokeActivator/Temp/

Builds/

Documents/
